/* 新的按钮飞入动画 */
@keyframes button-fly-in {
  0% {
    transform: translateY(100%); /* 初始位置在底部 */
    opacity: 0; /* 初始不可见 */
  }
  100% {
    transform: translateY(0); /* 最终位置正常显示 */
    opacity: 1; /* 最终完全可见 */
  }
}

.page-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 使用视口高度，确保充满整个屏幕 */
}

.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  height: 100%;
  margin-bottom: 40px; /* 修改为像素单位 */
}

/* 修改按钮样式，将动画应用到每个按钮 */
.register-button {
  background-color: #ff0000;
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0; /* 初始不可见 */
  animation: button-fly-in 0.5s ease forwards;
}
.login-button {
  background-color: #007AFF;
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0; /* 初始不可见 */
  animation: button-fly-in 0.5s ease forwards;
}

.login-button {
  animation-delay: 0.5s; /* 延迟登录按钮的动画 */
}

.register-button {
  animation-delay: 1s; /* 延迟注册按钮的动画 */
}
