/* 全局样式，确保页面充满整个屏幕 */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes button-fly-in {
  0% {
    transform: translateY(100%); /* Start below the container */
    opacity: 0; /* Start invisible */
  }
  100% {
    transform: translateY(0); /* End at their normal position */
    opacity: 1; /* End fully visible */
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* 中央盒子样式，用于将所有元素水平和垂直居中 */
.center-box {
  display:flex;
  margin-top: 40% ;
  flex-direction:column;
  align-items: center;
}

/* 欢迎语样式 */
.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  height: 100%; /* Ensure the view takes up the full height */
  margin-bottom: 40rpx;
}

.text-line {
  
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20rpx; /* Adjust the margin between lines */
}


/* 登录按钮样式 */
.register-button,
.login-button {
  background-color: #007AFF; /* 按钮背景颜色 */
  color: #fff; /* 文字颜色 */
  font-size: 20px; /* 增加按钮文字大小 */
  padding: 15px 30px; /* 增加按钮内边距 */
  border: none;
  border-radius: 25px; /* 圆角边缘 */
  margin-bottom: 10px;
  cursor: pointer;
  animation: button-fly-in 0.5s ease forwards;;
}
.login-button {
  animation-delay: 0s; /* Delay the login button animation by 1 second */
}

.register-button {
  animation-delay: 1s; /* Delay the register button animation by 1.5 seconds */
}
