/* pages/test/test.wxss */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: linear-gradient(180deg, #00022a 0%,#009797 100%);
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: white
}

.input-box {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: #444;
}


.submit-button {
  width: 80%;
  padding: 10px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}
