/**app.wxss**/
.page-background{
  height: 100vh;
  width: 105vw;
  overflow: hidden;
}

.page-introduction{
  width: 600rpx;
  height: 50rpx;
  text-align: center;
  margin: 100rpx auto 30rpx;
  color: white;
}