/* pages/information/information.wxss */
.page-back {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background: linear-gradient(180deg, #D13A29 30%,#ffffff 100%);
  // background: rgb(234,86,68)
}
.container{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 600rpx;
  margin: 40rpx auto;
  border-radius: 20rpx;
  overflow: hidden;
  background-color: white;
  font-family:‘Times New Roman’, Times, serif;
  border: solid;
  border: white;
}

.image-con{
  background-color: #002d3d;
  padding: 0;
  width: 600rpx;
  height: 240rpx;
  overflow: hidden;

  .img{
    width: 600rpx;
  }
}

.info-con{
  color: white;
  background-color: rgb(0, 17, 53);
  height: 40rpx;
  line-height: 40rpx;
  position: relative;
  top: -20rpx;
  left: 20rpx;
  font-size: 24rpx;
  padding: 0 20rpx;
}

.preview-con{
  width: 600rpx;
  position: relative;
  top: -20rpx;

  .title{
    width: 550rpx;
    margin: 0 auto;
    font-size: 26rpx;
    text-align: left;
    font-weight: bold;
  }
  .ab{
    width: 550rpx;
    margin: 0 auto;
    font-size: 24rpx;
    text-align: left;
  }
}
