/* pages/journal/journal.wxss */

.form-group-title{
  // width: 100rpx;
  height: 50rpx;
  // background-color: red;
  margin: 70rpx 40rpx 0 ;
  color: rgb(145, 145, 145);
  transform: scale(1,0.7);
}
.form-single-con{
  height: 70rpx;
  line-height: 70rpx;
  // background-color: red;
  margin: 10rpx 40rpx 0 ;
  color: white;
  position: relative;
  font-size: 28rpx;
  // font-weight:500;
  radio-group{
    position: absolute;
    right: 0rpx;
    top: -8rpx;
  }

}