/* pages/journal/journal.wxss */
/* pages/journal/journal.wxss */
.page-background{
  font-family: 'Times New Roman', Times, serif;
  color: #fff; /* 设置文字颜色为白色 */
}
.page-introduction {
  font-size: 50rpx;
  text-align: left;
  margin-top: 30rpx;
  margin-left: 40rpx;
}
.container{
  margin-left: 5%;
  margin-right:5%;
}

.question {
  margin-top: 20rpx; /* 添加题目之间的上边距 */
  border-bottom: 1px solid #fff; /* 添加分割线 */
  padding-bottom: 20rpx; /* 设置题目下方边距 */
}

/* 单选题选项样式 */
.picker {
  border: 1px solid #fff; /* 添加单选题选项的边框 */
  border-radius: 5px; /* 圆角边框 */
  padding: 10px;
  margin-top: 10rpx;
}

/* 排序题样式 */
.sort-question {
  margin-top: 20rpx; /* 添加题目之间的上边距 */
  border-bottom: 1px solid #fff; /* 添加分割线 */
  padding-bottom: 20rpx; /* 设置题目下方边距 */
}

.sort-options {
  display: flex;
  align-items: center;
}

.sort-button {
  margin-right: 10rpx;
  cursor: pointer;
  color: #007AFF; /* 链接颜色，根据需要自定义 */
  font-size: 20px;
}

.sort-button .icon {
  width: 20px; /* 图标宽度，根据需要自定义 */
  height: 20px; /* 图标高度，根据需要自定义 */
}

.sort-option {
  background-color: #007AFF;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10rpx; /* 添加选项之间的上边距 */
}

.sort-option.selected {
  background-color: #D13A29;
}
button{

  margin-top: 10%;
  margin-bottom: 20%;
}
